[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
openpyxl = "*"
requests = "*"
fair-esm = "*"
argparse = "*"
torch = "==1.8.1"
transformers = "*"
h5py = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
